<body>
  <div class="footer-menu d-flex justify-content-between rounded-5 mb-3 mx-auto" id="footer">

    <% if !current_user.is_renting? %>

      <span class="col text-center mt-2 mb-2" style="font-size: 1.5rem">
        <a id="user_icon" class="fa-solid fa-user" href="<%= edit_user_registration_path %>" style= "color: #827E7C"></a>
      </span>

      <span class="col text-center mt-2 mb-2" style="font-size: 1.5rem">
        <a id="home_icon" class="orange fa-solid fa-house" href="<%= root_path %>" style= "color: #827E7C"></a>
      </span>

      <span class="col text-center mt-2 mb-2" style="font-size: 1.5rem">
        <a id="map_icon" class="fa-solid fa-map-location-dot" href="/users/vista_mapa" style= "color: #827E7C"></a>
      </span>
    
    <% else %>

      <span class="col text-center mt-2 mb-2 justify-content-evenly" style="font-size: 1.5rem" onclick="goHome()">
        <a id="car_icon" class="fa-solid fa-car" style= "color: #827E7C"></a>
        <a class="text-gray montserrat-title"> Mi alquiler</a>
      </span>

    <% end %>

  </div>
</body>

<script>

  let lastScrollTop = 0;

  window.addEventListener("scroll", function() {
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    if (scrollTop > lastScrollTop){
      footer.style.transition = "opacity 0.2s, transform 0.2s";
      footer.style.transform = "translateY(100%)";
      footer.style.opacity = "0";
    } else {
      footer.style.transition = "opacity 0.2s, transform 0.2s";
      footer.style.transform = "translateY(0%)";
      footer.style.opacity = "1";
    }
    lastScrollTop = scrollTop;
  });


  var map_icon = document.getElementById("map_icon");
  var home_icon = document.getElementById("home_icon");
  var car_icon = document.getElementById("car_icon");
  var user_icon = document.getElementById("user_icon");

  if (window.location.href.includes("users/edit")) {
    user_icon.style.color = "#FFA166";
  } else if (window.location.href.includes("/vista_mapa")) {
    map_icon.style.color = "#FFA166";
  } else if (window.location.href.includes("/home")){
    home_icon.style.color = "#FFA166";
  }

  function goHome() {
    window.location.href = "<%= root_path %>";
  }



</script>

<style>
  a {
    text-decoration: none;
  }
</style>
